---

---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
  <canvas id="webgl"></canvas>
  <script src="../scripts/main.js"></script>
  </body>
</html>
<style>
    body{
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
    }

  #webgl{
    background-color: black;
    height: 100%;
    width: 100%;
    display: block;
  }

</style>
